.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header__left {
  display: flex;
  justify-content: space-evenly;
}
.header__left > img {
  height: 40px;
}
.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.header__input > input {
  border: none;
  background: transparent;
  outline-width: 0;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__option > .MuiSvgIcon-root {
  color: gray;
}
.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.header__option:hover {
  background-color: #eff2f5;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-bottom: none;
}
.header__option__active > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header__option__active {
  border-bottom: 4px solid #2e81f4;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__info > h4 {
  margin-left: 10px;
}
.header__right {
  display: flex;
}
