.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidebarRow > h4 {
  margin-left: 10px;
  font-weight: 600px;
}
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
